body{  /*selector de etiquetas */
    margin: 0px;
}
ul{
    list-style: none; /*con esto quito los bullet o puntos de la lista*/
    padding: 0px;
    margin: 0px;
}

.navbar{
    display: flex; /*pongo el listado de forma horizontal*/
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(175, 175, 228);
    border-bottom: 1px solid rgb(102, 102, 217);
}

.navbar>li{
    display: flex;
    align-items: center;
}

.logo{
    height: 50px; /*le ponemos la medida al logo*/
}

.button{
    border:0px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight: bolder;
  
}

.button:hover{ /*con dos puntos utilizo los modificadores en css*/
    cursor:pointer;
    transform: scale(1.2);
}

.mainButton{  /*Estoy modificando los atribito del boton nuevo post*/
    background-color: rgb(65, 65, 160);
    color:white;
    
}

.mainButton:hover{ /*con dos puntos utilizo los modificadores en css*/
    box-shadow: 1px 1px rgb(127, 127, 204);
}

.secundaryButton:hover{
    box-shadow: 1px 1px rgb(0, 255, 64);
}

.buscar{
    background-color: white;
    border: 1px solid blue;
    padding: 4px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.buscar:focus-within {
    border: 2px solid green;
}

.buscar>input{  /*con este hago clases a traves de componentes hijos*/
    outline: none;
    border:0px
}

.iconoBusqueda:hover{
    color:blue;
}